anyio==4.1.0
asttokens==2.4.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
comm==0.2.0
coverage==7.3.2
cryptography==41.0.5
debugpy==1.8.0
decorator==5.1.1
docutils==0.20.1
exceptiongroup==1.2.0
executing==2.0.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.5
importlib-metadata==6.8.0
iniconfig==2.0.0
ipykernel==6.26.0
ipython==8.18.0
jaraco.classes==3.3.0
jedi==0.19.1
jeepney==0.8.0
jupyter_client==8.6.0
jupyter_core==5.5.0
keyring==24.3.0
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mdurl==0.1.2
more-itertools==10.1.0
nest-asyncio==1.5.8
nh3==0.2.14
packaging==23.2
parso==0.8.3
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==4.0.0
pluggy==1.3.0
prompt-toolkit==3.0.41
psutil==5.9.6
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==1.10.13
Pygments==2.17.2
pymarc==5.1.0
pytest==7.4.3
pytest-asyncio==0.23.2
pytest-cov==4.1.0
pytest-mock==3.12.0
python-dateutil==2.8.2
pyzmq==25.1.1
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
SecretStorage==3.3.3
-e git+ssh://git@github.com/chimpy-me/sierra-ils-utils.git@37a4dbc6b52547d3e12f72e72f2d59a0333d58f5#egg=sierra_ils_utils
six==1.16.0
sniffio==1.3.0
stack-data==0.6.3
tomli==2.0.1
tornado==6.3.3
traitlets==5.13.0
twine==4.0.2
typing_extensions==4.8.0
urllib3==2.1.0
wcwidth==0.2.12
zipp==3.17.0
